body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.headerRow {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid black;
}

.rowContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    border: 1px solid black;
    align-items: center;
}

.edit-button {
    cursor: pointer;
    width: 80px;
    height: 30px;
    text-align: center;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.form {
    display: flex;
    justify-content: center;
}

.inputContainer {
    margin: 10px;
}

.inputContainer label {
    margin-right: 10px;
}

.searchBox {
    margin: 20px;
}

.searchBox label {
    margin-right: 10px;
}
